<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>welcome</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>¡Gracias por unirte a nosotros!</ion-card-subtitle>
    </ion-card-header>



    <ion-card-content>
      <div class="container-btns">
        <ion-button fill="solid" shape="round" class="login-btn" color="primary">Login</ion-button>
        <ion-button fill="outline" shape="round" class="register-btn" color="dark">Register</ion-button>
      </div>

      <div class="text-social">
        
      </div>

      <div class="container-btns">
        <ion-button fill="solid" shape="round" class="login-btn" color="primary">Login</ion-button>
        <ion-button fill="outline" shape="round" class="register-btn" color="dark">Register</ion-button>
        <p>FRANCISCO GAY</p>
      </div>
    </ion-card-content>



  </ion-card>

  
</ion-content> 
