#UserInput {
  max-width: 250px;

}

#PasswordInput {
    max-width: 250px;

  }


.login-components{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    
}