<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestion Master</ion-title>
    <ion-button (click)="goBack()" slot="end" style="margin-right: 20px;" shape="round">Atras</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-input [(ngModel)]="newUser.correo" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre de Usuario:</ion-label>
      <ion-input [(ngModel)]="newUser.userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol:</ion-label>
      <ion-select [(ngModel)]="newUser.rol">
        <ion-select-option value="alumno">Alumno</ion-select-option>
        <ion-select-option value="profesor">Profesor</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <div style="margin: 20px;">
    <ion-button (click)="save()" expand="block" shape="round" [disabled]="cargando">
      Registrar Usuario
    </ion-button>

  </div>

  <div *ngIf="cargando" style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>


  <ion-list>
    @for (user of users; track $index){
    <ion-item>
      <ion-label>Nombre: {{ user.userName }}
        <p>rol: {{ user.rol }}</p>
        <p>correo: {{ user.correo }}</p>
      </ion-label>
      <ion-buttons slot="end">

        <ion-button (click)="update(user)">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
        
        <ion-button (click)="edit(user)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>

        <ion-button (click)="delete(user)">
          <ion-icon  slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  }
  </ion-list>


</ion-content>
