<ion-header class="ion-no-border m-top: [10px]" style="background-color: #E1EAF9;">
  <ion-toolbar>
    <ion-label>
      <h2>RegistrApp</h2>
      <p>Bienvenido, {{ nombreUsuario }}!</p>
    </ion-label>
    <ion-avatar slot="end" (click)="presentPopover($event)">
      <img alt="User Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
  <ion-searchbar color="secondary" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-popover trigger="avatar" trigger-action="click" dismiss-on-select="true">
  <ion-content>
    <ion-list>
      <ion-item button (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-popover>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards">

        <!-- Mostrar solo si el usuario no es 'alumno' o si no es la card 'Gestion Master' -->
        <ion-card
          *ngIf="rolUser !== 'alumno'"
          class="card-button rounded-sm p-5" (click)="card.title === 'Gestion Master' ? isAdmin() : goTo(card.route)">
          <ion-card-content>
            <div class="card-icon rounded-xl">
              <ion-icon slot="start" [name]="card.icon"></ion-icon>
            </div>
            <div class="card-title">{{ card.title }}</div>
          </ion-card-content>
        </ion-card>

        <!-- Card para rol 'alumno' -->
        <ion-card *ngIf="rolUser === 'alumno'" class="card-button rounded-sm p-5" (click)="goTo(card.route)">
          <ion-card-content>
            <p>Vista de alumno</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>