<ion-header class="ion-no-border" style="background-color: #E1EAF9;">
  <ion-toolbar>
    <ion-label>
      <h2>RegistrApp</h2>
      <p>Bienvenido, {{ nombreUsuario }}!</p>
    </ion-label>
    <ion-avatar aria-hidden="true" slot="end">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
  <ion-searchbar color="secondary" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Codigo QR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Generar Codigo QR para registro de asistencia</p>
            <ion-button expand="block" fill="outline" routerLink="/registro">Generar QR</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Lista Alumnos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Ver listado de alumnos registrados</p>
            <ion-button expand="block" fill="outline" routerLink="/consulta">Ver listado</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
